.appteste {
  background-color: #f2eeef;
  min-height: 100vh;
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
